section{
    float: left;
}
div#country-search, div#country-info, div#country-flag, div#favourite-list{
    background-color: #787CB5;
    padding: 20px;
}
div#favourite-list{
    padding: 10px;
}
div#country-info{
    font-size: 20px;
}
div#favourite-list div{
    background-color: #B0B3D6;
    padding: 15px;
    margin: 10px;
}
label{
    margin: 0px;
    display: inline;
}
input[type=button]{
    background-color: #B0B3D6;
    padding: 0px 15px;
    border: none;
}
input[type=button]:disabled{
    opacity: 0.9;
}
input[type=button]:hover{
    cursor: pointer;
}
footer{
    clear: both;
}